<div class="text-center">
  <% if current_user %>
    <p> <%= "Welcome #{current_user.name}!" %>
    </p><br>
      <%= link_to(destroy_user_session_path, method: :delete) do %>
        <h3 class="btn btn-primary"> Log Out
        </h3>
      <% end %>
  <% else %>
    <h3> <%= link_to "Log in to add a movie or to leave a review", new_user_session_path %>
    </h3>
  <% end %>
</div>

  <br>

<div class="wrapper">
 <div class="container">
  <row>
    <% @movies.each do |movie| %>
      <div class="col-md-4">
        <strong>
          <h2><%= movie.title %></h2>
        </strong>
        <%= image_tag(movie.image.url(:medium), size: "240x270") %>
        <strong>
          <h3> Rating: <%= movie.rating %></h3>
        </strong>
        <%= link_to(movie_path(movie)) do%>
          <h3 class="btn btn-lg btn-primary"> Read More </h3>
        <% end %>
        </div>
      <% end %>
    </row>
  </div>
</div>

  <br>
  <div class="wrapper">
    <div class="container">
      <%= link_to(new_movie_path) do %>
      <div class="text-center">
        <p class="btn btn-lg btn-danger"> Add New Movie</p>
      </div>
      <% end %>
    </div>
  </div>
